<h1>Characters of Westeros </h1>

<ul>


  <% @characters.each do |character| %>
  <li>
    <%=link_to character.name, house_character_path(character.house, character)%>

  </li>
  <br>
  <%end  %>


</ul>

<%if @house%>
<h1><%=link_to "NEW", new_house_character_path(@house) %> </h1>
<% else %>
<h1><%=link_to "New character", new_character_path%></h1>
<%end%>
